header{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    left: 0;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background: transparent;
    transition: all ease 0.5s;
}

header.black{
    background-color: #141414;
}

.header--logo{
    height: 150px;
}

.header--logo img{
    height: 100%;
}

.header--right-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.header--user{
    height: 60px
}
.header--user img{
    height: 100%;
    border-radius: 3px;
}

.header--search{
    height: 40px;
    /* display: flex; */
}
.header--search img{
    height: 40%;
    border-radius: 3px;  
}
.header--btn-search{    
    position: absolute;
    top: 0px;
    right: 150px;

    height: 100%;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
    z-index: 0;
}

.input-search{    
    position: absolute;
    top: 25px;
    right: 150px;

    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    transition: all .5s ease-in-out;
    background-color: transparent;
    padding-right: 40px;
    color:#fff;
}
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    pointer-events: painted;  
}
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 100ms (0, 0.110, 0.35, 2);
}
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: #141414;
    opacity: 80%;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 100ms (0, 0.110, 0.35, 2);
}
